<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DefaultTheme" value="Default" />
  </appSettings>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding_BeanTraderService">
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://beantrader.eastus.cloudapp.azure.com:8090/BeanTraderService"
          binding="netTcpBinding" bindingConfiguration="NetTcpBinding_BeanTraderService"
          contract="BeanTraderService" name="NetTcpBinding_BeanTraderService">
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>